
{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f0f0f0; 
}


#circle {
    width: 50vh; 
    height: 50vh;
    border-radius: 50%; 
    background-color: blue; 
    color: white;
    font-family: Arial, sans-serif; 
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    overflow: auto; 
}
